<br> 
<center><img src="https://i.imgur.com/hkb7Bq7.png" width="500"></center>


### Prof. José Manuel Magallanes, PhD

* Visiting Professor, Evans School of Public Policy and Governance / Senior Data Science Fellow, eScience Institute, University of Washington, [magajm@uw.edu](mailto:magajm@uw.edu)

* Associate Professor, Departamento de Ciencias Sociales, Pontificia Universidad Católica del Perú, [jmagallanes@pucp.edu.pe](mailto:jmagallanes@pucp.edu.pe)

_____

_____

<a id='home'></a>

# Introduction to Python

* DATA STRUCTURES
    - [Native Data Structures](#basic_ds).

    - [NonNative Data Structures](#complex_ds).

* DATA PRE PROCESSING
    - [Data cleaning and formatting](#cleanformat).

    - [Integration and Saving](#integratesave).

# 1. Basic Data Structures

Python has basic native structures, like lists, tuples and dictionaries.

## a.  **LISTS** 

Lists are the most flexible structure to save or contain data elements.

In [ ]:
ages=[32,33,28,30,29]

Above we have created some lists. Lists can contain any values. Lists support different operations:

* **Accessing**:

Keep in mind the positions in Python start in **0**.

In [ ]:
# one element
ages[0]

In [ ]:
# last one
ages[-1]

In [ ]:
#all but two last ones
ages[:-2]

In [ ]:
#non consecutive
# I want: [32, 28] from [32,33,28,30,29]
ages[0:4:2] # start:end:step (open at end)

* **Adding elements**:

In [ ]:
# I want: [32, 28, 30] from [32,33,28,30,29]
# difficult to understand?
ages[0:4:2] + [ages[3]]

In [ ]:
ages[0:4:2] + ages[3]

Always check data type when adding trying to add elements:

In [ ]:
type(ages[0:4:2])

In [ ]:
type(ages[3])

Using the function **append**:

In [ ]:
aList=ages[0:4:2]
aList

In [ ]:
aList.append(ages[3])

In [ ]:
aList

Using the function **extend**:

In [ ]:
list1=[1,2,3]
list2=[4,5,6]
list1.extend(list2)
list1

* **Modifying**:

In [ ]:
country=["China", "Senegal", "España", "Norway","Korea"]


# by position
country[2]="Spain"

# list changed:
country

In [ ]:
# by value
country=["PR China" if x == "China" else x for x in country]

# list changed:
country

* **Deleting**

In [ ]:
# by position
del country[-1] #last value

# list changed:
country

In [ ]:
names=["Qing", "Françoise", "Raúl", "Bjork","Marie"]

# by position
names.pop() #last value by default

# list changed:
names

In [ ]:
# only 'del' works for several positions

lista=[1,2,3,4,5,6]
del lista[1:3]

#now:
lista

In [ ]:
lista=[5,7,13,13,29,29,33]

# by value
lista.remove(29) 

# list changed:
lista # just first ocurrence of value!!

In [ ]:
# deleting every  value:

lista=[1,'a',45,'b','a']
lista=[x for x in lista if x!='a']

# you get:
lista

## b.  **TUPLES**

Tuples are inmutable structures in Python, they look like lists but do not share much of their functionality:

In [ ]:
# a tuple:
weekend=("Friday", "Saturday", "Sunday")

You can access:

In [ ]:
weekend[0]

But deleting, modifying, and inserting a value is **NOT PERMITTED**.




## c. **DICTIONARIES**  

*Dicts* work in a more sophisticated way, as they have a **'key'**:**'value'** structure:

In [ ]:
names=["Qing", "Françoise", "Raúl", "Bjork","Marie"]
ages=[32,33,28,30,29]
education=["Bach", "Bach", "Master", "PhD","PhD"]


classroom={'student':names,'age':ages,'edu':education}
# see it:

classroom

Dicts do not use indexes to access values:

In [ ]:
classroom[0]

Dicts use keys:

In [ ]:
classroom['student']

To see al the keys:

In [ ]:
classroom.keys()

Notice that I created a dictionary where the value is not ONE but a LIST of values.

If you wish to see all the key and values:

In [ ]:
classroom.items()

To visit each one:

In [ ]:
#wrong:
[(key,value) for key, value in classroom]

In [ ]:
# good:

[(key,value) for key, value in classroom.items()]

Notice that the previous dicts could be represented as a table, but dicts are no limited to table-like structures:

In [ ]:
student1={'names':'Peter','language':['english','spanish'],'age':14,'sex':"F"}
student2={'names':'Mary','language':['english','spanish','french'],'age':16,'sex':"M"}
student3={'names':'John','language':['english'],'age':15,'sex':None}

You can create this dict:

In [ ]:
class1={'students':[student1,student2,student3]}
class1

If you have two lists:

In [ ]:
list1=['a','b','c']
list2=['A','B','C']

You can create a dict like this:

In [ ]:
{key:value for key,value in zip(list1,list2)}

Once you access a value, you can modify it:

In [ ]:
classroom['student']

In [ ]:
classroom['student'][2]='Raul'
classroom['student']

You can delete a key and its elements:

In [ ]:
del classroom['age'] 
classroom

You can also use pop:

In [ ]:
classroom.pop('edu')
classroom

You can not use _append_ to add an element, you need **update**:

In [ ]:
countries=["China", "Senegal", "España", "Norway","Korea"]

classroom.update({'country':countries,'age':ages})
# now:
classroom

[home](#home)

______

<a id='complex_ds'></a>


# Non Native Data Structures

## DATA FRAMES

A **Data frame**  is a complex container of values. The most common analogy is a spreadsheet. To create a data frame, we need to call **[pandas](https://pandas.pydata.org/docs/index.html)**:

In [ ]:
# do you have pandas:
!pip show pandas

In [ ]:
import pandas

We can prepare a data frame from a dictionary immediately, but ONLY if you have the same amount of elements in each list representing a column.

In [ ]:
# this dict can be used for a data frame:
classroom

In [ ]:
# our data frame:
students=pandas.DataFrame(classroom)
## see it:
students

In that one of the list in the dictionary were shorter that the others, you need this:

In [ ]:
#then
students=pandas.DataFrame({key:pandas.Series(value) for key, value in classroom.items()})

# seeing it:
students

Sometimes, Python users code like this:

In [ ]:
import pandas as pd # renaming the library

students=pd.DataFrame(classroom)
students

### Information on the Data frame

In [ ]:
# data of structure: list? tuple? dataframe?
type(students)

In [ ]:
# data of structure: list? tuple? dataframe?
type(students.age)#this is a SERIES (a column)

In [ ]:
# type of data in data frame column
students.dtypes

In [ ]:
# type of data and further details
students.info()

In [ ]:
# number of rows and columns
students.shape

In [ ]:
# number of rows:
len(students)

In [ ]:
# first rows
students.head(2) # compare with: students.tail(2)

In [ ]:
# name of columns
students.columns

If you needed the column names as a list:

In [ ]:
students.columns.tolist()# better to see hidden characters

### OPERATIONS on DF:

### a. Accessing

See a column:

In [ ]:
#one particular column
students.student

In [ ]:
# or
students['student']

This looks like a column, but it is not:

In [ ]:
students[['student']] # a data frame

In [ ]:
# this is also a DF
students[['country','student']]

A more _Python_ way:

In [ ]:
# using loc (names): 
columnNames=['country','student']
students.loc[:,columnNames]

In [ ]:
rowNames=[0,1]
students.loc[rowNames,:]

In [ ]:
## Using iloc:
columnPositions=[1,2,0]
students.iloc[:,columnPositions]

### Changing values

If you have a position, you can update values:

In [ ]:
students.iloc[4,2]=23 # change is immediate! (no warning)
students

In [ ]:
students.loc[2,'country']='Spain'
students

Same principle can be applied to chanege column names:

In [ ]:
students.columns=['studentNames','countryBorn','ageCurrent']
students

In [ ]:
#some names:
changesDictCol={'ageCurrent':'currentAge'}
students.rename(columns=changesDictCol) # a view - change requires 'inplace=True'

In [ ]:
changesDictRow={0:'First'}
students.rename(index=changesDictRow) # a view - change requires 'inplace=True'

### Adding a Column

In [ ]:
students['education']=education
students

In [ ]:
students['sex']=None
students

In [ ]:
students['city']='Seattle'
students

### Deleting columns

You can modify any values in a data frame, but let me create a **copy** of this data frame to play with:

In [ ]:
studentsCopy1=students.copy()
studentsCopy2=studentsCopy1

In [ ]:
# This is what you want get rid of:
byeColumns=['sex'] # you can delete more than one

#this is the result
studentsCopy1.drop(columns=byeColumns,inplace=True)
studentsCopy1

In [ ]:
# you did not touch this, but:
studentsCopy2

In [ ]:
# any changes?
students

### Deleting rows

Let me delete a row:

In [ ]:
studentsCopy1.drop(index=2,inplace=True) #index says what row(s)
studentsCopy1

As you see, the index dissapeared. Then, _iloc_ and _loc_ may give different results:

In [ ]:
# this is OK
studentsCopy1.loc[0,'studentNames']==studentsCopy1.iloc[0,0]

In [ ]:
# this is not OK
studentsCopy1.loc[3,'studentNames']==studentsCopy1.iloc[3,0]

In [ ]:
studentsCopy1.loc[3,'studentNames']

In [ ]:
studentsCopy1.iloc[3,0]

In [ ]:
# this is worse
studentsCopy1.loc[2,'student']==studentsCopy1.iloc[2,0]

After deleting rows, I recommend **resetting the index**:

In [ ]:
# a view
studentsCopy1.reset_index()

In [ ]:
# drop OLD indexes
studentsCopy1.reset_index(drop=True)

In [ ]:
studentsCopy1.reset_index(drop=True, inplace=False)

##  Merging

Let me make two data frames from dicts:

In [ ]:
dict1={'names':["Qing", "Françoise", "Raúl", "Bjork","Marie"],
'ages':[32,33,28,30,29],
'countries':["China", "Senegal", "España", "Norway","Korea"]}

dict2={'names':["Qing", "Françoise", "Raúl", "Bjork","Marie"],
'education':["Bach", "Bach", "Master", "PhD","PhD"]}

df1=pd.DataFrame(dict1)
df2=pd.DataFrame(dict2)

Merging requires a key with unique values.

In [ ]:
df12=df1.merge(df2) # d1 is "left"/d2 is "right"
df12

Let's make a little change:

In [ ]:
# different column name for same key

dict3={'NAME':["Qing", "Françoise", "Raúl", "Bjork","Marie"],
'ages':[32,33,28,30,29],
'countries':["China", "Senegal", "España", "Norway","Korea"]}

dict4={'names':["Qing", "Françoise", "Raúl", "Bjork","Marie"],
'education':["Bach", "Bach", "Master", "PhD","PhD"]}

df3=pd.DataFrame(dict3)
df4=pd.DataFrame(dict4)
df34=df3.merge(df4,left_on="NAME",right_on="names",)# d3 is "left"/d4 is "right"
df34

### Ordinal scales

Let's check the information from _df12_:

In [ ]:
df12.info()

The column *education* can be considered ordinal. Let's make a change:

In [ ]:
from pandas.api.types import CategoricalDtype

# create a list with the rigth order (ascending)
levels=["Bach","Master","PhD"]

# make the change:
df12.education=pd.Categorical(df12.education,
                              categories=levels,
                              ordered=True)

### String operations

Let me create a new data frame:

In [ ]:
someData= {"country%":['Perú',"chile","paragua","mexicO"],
           "team":['Incas',"Mapuches","guaranies","Aztecas"],
           "points 2021":[99,'ninety','93',None]}
someDF=pd.DataFrame(someData)
someDF

In [ ]:
someDF.info()

Check if text has some string(s), using [regular expressions](https://docs.python.org/3/library/re.html):

In [ ]:
#number
someDF.columns.str.contains("\d","",regex=True)

In [ ]:
# then
someDF.columns[someDF.columns.str.contains("\d","",regex=True)]

In [ ]:
#number or at least one blank
someDF.columns.str.contains("\d|\s+","",regex=True)

In [ ]:
#if a symbol appears
someDF.columns.str.replace("%","",regex=False)

In [ ]:
someDF.columns.str.replace("\d","",regex=True)

In [ ]:
someDF.columns.str.replace("\%|\d","",regex=True)

The str.replace function does not have "inplace", then:

In [ ]:
someDF.columns=someDF.columns.str.replace("\%|\d|\s+","",regex=True)

These might be useful:

In [ ]:
someDF.country.str.capitalize()

In [ ]:
someDF.country.str.lower()

In [ ]:
someDF.country.str.upper()

Some functions use ONLY a particular data structure:

In [ ]:
someDF.loc[:,['country','team']].str.capitalize()

In [ ]:
# applying function
someDF.loc[:,['country','team']].apply(lambda x: x.str.capitalize())

In [ ]:
someDF.loc[:,['country','team']]=someDF.loc[:,['country','team']].apply(lambda x: x.str.capitalize())

In [ ]:
# this one requires unidecode installation

from  unidecode import unidecode

someDF.country.apply(unidecode)

The column points is "assumed" to be numeric, but is an _object_ type. Let's change the type with *to_numeric*:

In [ ]:
pd.to_numeric(someDF.points)

By default, to_numeric can not deal with text. Then:

In [ ]:
pd.to_numeric(someDF.points,errors='coerce')

Let's make the change and revisit data types:

In [ ]:
someDF.points=pd.to_numeric(someDF.points,errors='coerce')
someDF.info()

we got some missing data:

In [ ]:
someDF

In [ ]:
#checking for missing data:
someDF[someDF.isnull().any(axis=1)]

In [ ]:
someDF.dropna()

In [ ]:
someDF.dropna(axis='columns') #dropna has inplace.

You could try replacing missing data:

In [ ]:
someDF.fillna(95) # anywhere

In [ ]:
someDF.points.fillna(95)#in a particular column

In [ ]:
someDF.points.fillna(95,inplace=True) #this function has 'inplace'
someDF


[home](#home)
_____

<a id='part2'></a>


# Exercise.  Data Pre processing

Get all these data frames and merge them.

* Democracy Index from the Economist (available in [wikipedia](https://en.wikipedia.org/wiki/Democracy_Index))

In [ ]:
linkWiki="https://en.wikipedia.org/wiki/Democracy_Index"
democracy=pd.read_html(linkWiki, header=0,attrs={"class":"wikitable sortable"})[4]
democracy.head()

Keep Country, overall score and its five components, and regime type.

* Military expenditures as Share of GDP from [CIA Factbook](https://www.cia.gov/the-world-factbook/field/military-expenditures/country-comparison).

In [ ]:
linkmil="https://www.cia.gov/the-world-factbook/field/military-expenditures/country-comparison"
milimoney=pd.read_html(linkmil)[0]
milimoney.head()

Just keep country and share of gdp.

* Data on Human Development Index 2019.

In [ ]:
# the file is in excel,Excel file requires the libraries xlrd (for xls)
# or the library openpyxl (for xlsx), just check if you have them.

In [ ]:
linkHDI="https://github.com/UW-eScience-WinterSchool/Python_Session/raw/main/countryCodesHDI.xlsx"
hdidata=pd.read_excel(linkHDI)
hdidata.head()

The main file should be the one with the biggest amount of rows. Then prepare a data set for R:

In [ ]:
from rpy2.robjects import pandas2ri
pandas2ri.activate()

from rpy2.robjects.packages import importr

base = importr('base')
#base.saveRDS(allmerged,file="allmerged.rds")

#In R, you can open it with: DF = readRDS("allmerged.rds")
#or, if iyou read from a link: DF = readRDS(url("https://..../allmerged.rds")

Do you have **rpy2**:

In [ ]:
!pip show rpy2