<br> 
<center><img src="https://i.imgur.com/hkb7Bq7.png" width="500"></center>


### Prof. José Manuel Magallanes, PhD

* Visiting Professor, Evans School of Public Policy and Governance / Senior Data Science Fellow, eScience Institute, University of Washington, [magajm@uw.edu](mailto:magajm@uw.edu)

* Associate Professor, Departamento de Ciencias Sociales, Pontificia Universidad Católica del Perú, [jmagallanes@pucp.edu.pe](mailto:jmagallanes@pucp.edu.pe)

_____

_____

<a id='home'></a>

# Introduction to Python

* DATA STRUCTURES
    - [Basic Data Structures](#basic_ds).

    - [Complex Data Structures](#complex_ds).

* DATA PRE PROCESSING
    - [Data cleaning and formatting](#cleanformat).

    - [Integration and Saving](#integratesave).

# Basic Data Structures

Python has basic native structures, like lists, tuples and dictionaries.

## a.  **LISTS** 

Lists are the most flexible structure to save or contain data elements.

In [1]:
names=["Qing", "Françoise", "Raúl", "Bjork","Marie"]
ages=[32,33,28,30,29]
country=["China", "Senegal", "España", "Norway","Korea"]
education=["Bach", "Bach", "Master", "PhD","PhD"]

Above we have created some lists. Lists can contain any values. Lists support different operations:

* **Accessing**:

Keep in mind the positions in Python start in **0**.

In [2]:
# one element
ages[0]

32

In [3]:
# several, using slices:
ages[1:-1] #second to before last

[33, 28, 30]

In [4]:
# several, using slices:
ages[:-2] #all but two last ones

[32, 33, 28]

In [5]:
# non consecutive
from operator import itemgetter
list(itemgetter(0,2,3)(ages))

[32, 28, 30]

In [6]:
# difficult to understand?
ages[0:4:2] + [ages[3]]

[32, 28, 30]

* **Modifying**:

In [7]:
# by position
country[2]="Spain"

# list changed:
country

['China', 'Senegal', 'Spain', 'Norway', 'Korea']

In [8]:
# by value
country=["PR China" if x == "China" else x for x in country]

# list changed:
country

['PR China', 'Senegal', 'Spain', 'Norway', 'Korea']

* **Deleting**

In [9]:
# by position
del country[-1] #last value

# list changed:
country

['PR China', 'Senegal', 'Spain', 'Norway']

In [10]:
# by position
names.pop() #last value by default

# list changed:
names

['Qing', 'Françoise', 'Raúl', 'Bjork']

In [11]:
# only 'del' works for several positions

lista=[1,2,3,4,5,6]
del lista[1:3]

#now:
lista

[1, 4, 5, 6]

In [12]:
# by value
ages.remove(29) 

# list changed:
ages # just first ocurrence of value!!

[32, 33, 28, 30]

In [13]:
# by value
education.remove('PhD') 

# list changed:
education # just first ocurrence!!

['Bach', 'Bach', 'Master', 'PhD']

In [14]:
# deleting every  value:

lista=[1,'a',45,'b','a']
lista=[x for x in lista if x!='a']

# you get:
lista

[1, 45, 'b']

* **Inserting values**

In [15]:
# at the end
lista.append("abc")
lista

[1, 45, 'b', 'abc']

In [16]:
# PART ONE:
# first delete a position
education.pop(2)
education

['Bach', 'Bach', 'PhD']

In [17]:
# PART TWO:
# now insert in that position
education.insert(2,"Master")
education

['Bach', 'Bach', 'Master', 'PhD']

## b.  **TUPLES**

Tuples are inmutable structures in Python, they look like lists but do not share much of their functionality:

In [18]:
# new list:
weekend=("Friday", "Saturday", "Sunday")

You can access:

In [19]:
weekend[0]

'Friday'

But deleting, modifying a value, and inserting a value IS NOT PERMITTED.

Python itself uses tuples as output of some important functions:

In [20]:
zip(names,ages)

The **zip** functions creates tuples, by combining containers in parallel. You can see it if you turn the result into a list:

In [21]:
list(zip(names,ages))  # a list of tuples

[('Qing', 32), ('Françoise', 33), ('Raúl', 28), ('Bjork', 30)]

[home](#home)

______


<a id='complex_ds'></a>

# Complex Data Structures

## a. **DICTIONARIES**  

*Dicts* work in a more sophisticated way, as they have a **'key'**:**'value'** structure:

In [22]:
classroom={'student':names,'age':ages,'edu':education}
# see it:

classroom

{'student': ['Qing', 'Françoise', 'Raúl', 'Bjork'],
 'age': [32, 33, 28, 30],
 'edu': ['Bach', 'Bach', 'Master', 'PhD']}

Dicts do not use indexes to access values:

In [23]:
#classroom[0]

Dicts use keys:

In [24]:
classroom['student']

['Qing', 'Françoise', 'Raúl', 'Bjork']

Notice that I created a dictionary where the value is not ONE but a LIST of values.

Once you access a value, you can modify it. You can also use _pop_ or _del_ using the **keys**. But you can not use _append_ to add an element, you need **update**:

In [25]:
classroom.update({'country':country})
# now:
classroom

{'student': ['Qing', 'Françoise', 'Raúl', 'Bjork'],
 'age': [32, 33, 28, 30],
 'edu': ['Bach', 'Bach', 'Master', 'PhD'],
 'country': ['PR China', 'Senegal', 'Spain', 'Norway']}

Notice that the previous dicts could be represented as a table, but dicts are no limited to table-like structures:

In [26]:
student1={'names':'Peter','language':['english','spanish'],'age':14}
student2={'names':'Mary','language':['english','spanish','french'],'age':16}
student3={'names':'John','language':['english'],'age':15}

You can create this dict:

In [27]:
class1={'students':[student1,student2,student3]}
class1

{'students': [{'names': 'Peter',
   'language': ['english', 'spanish'],
   'age': 14},
  {'names': 'Mary', 'language': ['english', 'spanish', 'french'], 'age': 16},
  {'names': 'John', 'language': ['english'], 'age': 15}]}

## b. DATA FRAMES

A **Data frame**  is a complex containers of values. The most common analogy is a spreadsheet. To create a data frame, we need to call **pandas**:

In [28]:
import pandas

We can prepare a data frame from a dictionary immediately, but ONLY if you have the same amount of elements in each list representing a column.

In [29]:
# our data frame:
students=pandas.DataFrame(classroom)
## see it:
students

     student  age     edu   country
0       Qing   32    Bach  PR China
1  Françoise   33    Bach   Senegal
2       Raúl   28  Master     Spain
3      Bjork   30     PhD    Norway

But, let me update the dictionary with:

In [30]:
names=["Qing", "Françoise", "Raúl", "Bjork","Marie"]
#
classroom.update({'student':names})
#
classroom

{'student': ['Qing', 'Françoise', 'Raúl', 'Bjork', 'Marie'],
 'age': [32, 33, 28, 30],
 'edu': ['Bach', 'Bach', 'Master', 'PhD'],
 'country': ['PR China', 'Senegal', 'Spain', 'Norway']}

We have five students, but only data for four of them. Then this does not work:

In [31]:
#pandas.DataFrame(classroom)

In that case, you need this:

In [32]:
#then
students=pandas.DataFrame({key:pandas.Series(value) for key, value in classroom.items()})

# seeing it:
students

     student   age     edu   country
0       Qing  32.0    Bach  PR China
1  Françoise  33.0    Bach   Senegal
2       Raúl  28.0  Master     Spain
3      Bjork  30.0     PhD    Norway
4      Marie   NaN     NaN       NaN

Sometimes, Python users code like this:

In [33]:
import pandas as pd # renaming the library

students=pd.DataFrame({key:pd.Series(value) for key, value in classroom.items()})
students

     student   age     edu   country
0       Qing  32.0    Bach  PR China
1  Françoise  33.0    Bach   Senegal
2       Raúl  28.0  Master     Spain
3      Bjork  30.0     PhD    Norway
4      Marie   NaN     NaN       NaN

### Data frame basic operations

In [34]:
# data of structure: list? tuple? dataframe?
type(students)

pandas.core.frame.DataFrame

In [35]:
# type of data in data frame column
students.dtypes

student     object
age        float64
edu         object
country     object
dtype: object

In [36]:
# details of data frame
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   student  5 non-null      object
 1   age      4 non-null      float64
 2   edu      4 non-null      object
 3   country  4 non-null      object
dtypes: float64(1), object(3)
memory usage: 288.0+ bytes

In [37]:
# number of rows and columns
students.shape

(5, 4)

In [38]:
# number of rows:
len(students)

5

In [39]:
# first rows
students.head(2) # compare with: students.tail(2)

     student   age   edu   country
0       Qing  32.0  Bach  PR China
1  Françoise  33.0  Bach   Senegal

In [40]:
# name of columns
students.columns

Index(['student', 'age', 'edu', 'country'], dtype='object')

If you needed the column names as a list:

In [41]:
students.columns.tolist()# or simply: list(students)

['student', 'age', 'edu', 'country']

If you needed a column values as a list:

In [42]:
students.age.tolist()# list(students.ages)

[32.0, 33.0, 28.0, 30.0, nan]

### Accesing elements in DF:

The data frames in pandas behave much like in R:

In [43]:
#one particular column
students.student

0         Qing
1    Françoise
2         Raúl
3        Bjork
4        Marie
Name: student, dtype: object

In [44]:
# or
students['student']

0         Qing
1    Françoise
2         Raúl
3        Bjork
4        Marie
Name: student, dtype: object

In [45]:
# it is not the same as: 
students[['student']] # a data frame, not a column (or series)

     student
0       Qing
1  Françoise
2       Raúl
3      Bjork
4      Marie

In [46]:
# this is also a DF
students[['country','student']]

    country    student
0  PR China       Qing
1   Senegal  Françoise
2     Spain       Raúl
3    Norway      Bjork
4       NaN      Marie

In [47]:
# and this, using loc:
columnNames=['country','student']
students.loc[:,columnNames]

    country    student
0  PR China       Qing
1   Senegal  Françoise
2     Spain       Raúl
3    Norway      Bjork
4       NaN      Marie

In [48]:
## Using positions is very common:
columnPositions=[1,3,0]
students.iloc[:,columnPositions]

    age   country    student
0  32.0  PR China       Qing
1  33.0   Senegal  Françoise
2  28.0     Spain       Raúl
3  30.0    Norway      Bjork
4   NaN       NaN      Marie

### Changing values

If you have a position, you can update values:

In [49]:
students.iloc[4,1]=23 # change is immediate! (no warning)
students

     student   age     edu   country
0       Qing  32.0    Bach  PR China
1  Françoise  33.0    Bach   Senegal
2       Raúl  28.0  Master     Spain
3      Bjork  30.0     PhD    Norway
4      Marie  23.0     NaN       NaN

### Deleting columns

You can modify any values in a data frame, but let me create a **deep** copy of this data frame to play with:

In [50]:
studentsCopy=students.copy()
studentsCopy

     student   age     edu   country
0       Qing  32.0    Bach  PR China
1  Françoise  33.0    Bach   Senegal
2       Raúl  28.0  Master     Spain
3      Bjork  30.0     PhD    Norway
4      Marie  23.0     NaN       NaN

In [51]:
# This is what you want get rid of:
byeColumns=['edu'] # you can delete more than one

#this is the result
studentsCopy.drop(columns=byeColumns)

     student   age   country
0       Qing  32.0  PR China
1  Françoise  33.0   Senegal
2       Raúl  28.0     Spain
3      Bjork  30.0    Norway
4      Marie  23.0       NaN

Notice you do not have saved the previous result:

In [52]:
studentsCopy

     student   age     edu   country
0       Qing  32.0    Bach  PR China
1  Françoise  33.0    Bach   Senegal
2       Raúl  28.0  Master     Spain
3      Bjork  30.0     PhD    Norway
4      Marie  23.0     NaN       NaN

In [53]:
#NOW we do
studentsCopy.drop(columns=byeColumns,inplace=True)

In [54]:
#then:
studentsCopy

     student   age   country
0       Qing  32.0  PR China
1  Françoise  33.0   Senegal
2       Raúl  28.0     Spain
3      Bjork  30.0    Norway
4      Marie  23.0       NaN

### Deleting a row

Let me delete a row:

In [55]:
# axis 0 is delete by row
studentsCopy.drop(index=2,inplace=True) 
studentsCopy

     student   age   country
0       Qing  32.0  PR China
1  Françoise  33.0   Senegal
3      Bjork  30.0    Norway
4      Marie  23.0       NaN

As you see, the index dissapeared. Then, you should reset the indexes:

In [56]:
studentsCopy.reset_index(drop=True,inplace=True)
studentsCopy

     student   age   country
0       Qing  32.0  PR China
1  Françoise  33.0   Senegal
2      Bjork  30.0    Norway
3      Marie  23.0       NaN


[home](#home)
_____

<a id='part2'></a>


## 2.  Data Pre processing

<a id='beginning'></a>

Preprocessing includes three stages:

a. **Cleaning**: Cleaning requires that every cell has the right value, and that the dataframe has only the contents needed. Having a clean data frame means:

    1. Verify that headers are at the top of data frame, and well written.

    2. Verify that categories levels are well written.
    
<br>
    
b. **Formatting**: Formatting requires:
    
    1. Verifiying data types
    
    2. Correcting data types: Numerical, categorical, text, date.
    
<br>
    
c. **Integrating and Saving**: It is process of combining several dataframes in one, and saving it into a file that can be the input of future processes.


_____

<a id='cleanformat'></a>

## a. CLEANING

Let's start by bringing in a table from wikipedia:

In [57]:
LINK_to_WIKIPAGE="https://en.wikipedia.org/wiki/Democracy_Index"

democracy=pd.read_html(LINK_to_WIKIPAGE)

Democracy is not a data frame:

In [58]:
type(democracy)

list

This list has this amount of elements:

In [59]:
len(democracy)

10

We could shorten the list of results by telling what kind of table you want:

In [84]:
democracy=pd.read_html(LINK_to_WIKIPAGE, attrs={"class":"wikitable sortable","style":"text-align:center;"})
len(democracy)

4

Then, our table is:

In [86]:
democracy[3]

,Rank,Δ Rank,Country,Regime type,Elec­toral pro­cess and plura­lism,Func­tioning of govern­ment,Poli­tical partici­pation,Poli­tical cul­ture,Civil liber­ties,Overall score,Δ Score
0,1,NaN,Norway,Full democracy,10.00,9.64,10.00,10.00,9.71,9.87,NaN
1,2,NaN,Iceland,Full democracy,10.00,9.29,8.89,10.00,9.71,9.58,NaN
2,3,NaN,Sweden,Full democracy,9.58,9.64,8.33,10.00,9.41,9.39,NaN
3,4,NaN,New Zealand,Full democracy,10.00,9.29,8.89,8.13,10.00,9.26,NaN
4,5,3.0,Finland,Full democracy,10.00,8.93,8.89,8.75,9.71,9.25,0.11
...,...,...,...,...,...,...,...,...,...,...,...
162,163,NaN,Chad,Authoritarian,0.00,0.00,1.67,3.75,2.65,1.61,NaN
163,164,2.0,Syria,Authoritarian,0.00,0.00,2.78,4.38,0.00,1.43,NaN
164,165,1.0,Central African Republic,Authoritarian,1.25,0.00,1.11,1.88,2.35,1.32,0.20
165,166,1.0,Democratic Republic of the Congo,Authoritarian,0.00,0.00,1.67,3.13,0.88,1.13,0.20
166,167,NaN,North Korea,Authoritarian,0.00,2.50,1.67,1.25,0.00,1.08,NaN

Let's create an object for that data frame:

In [87]:
demodata=democracy[3]

1. **Verify that headers are at the top of data frame, and well written**.

In [97]:
# headers are in the right position
# are they well written?
demodata.columns.to_list()

['Rank',
 'Δ Rank',
 'Country',
 'Regime type',
 'Elec\xadtoral pro\xadcess and plura\xadlism',
 'Func\xadtioning of govern\xadment',
 'Poli\xadtical partici\xadpation',
 'Poli\xadtical cul\xadture',
 'Civil liber\xadties',
 'Overall score',
 'Δ Score']

Notice the presence of weird symbols. Let me save this original column names:

In [89]:
old=demodata.columns.to_list()

You can change using the **brute-force** approach (changing without coding), but let's use **regular expressions** (regex):

* Replacing:

In [102]:
import re

# \s is 'blanks'
# replace (substitute) space by underscore
old_good=[re.sub("\s","_",name) for name in old]
old_good

['Rank',
 'Δ_Rank',
 'Country',
 'Regime_type',
 'Elec\xadtoral_pro\xadcess_and_plura\xadlism',
 'Func\xadtioning_of_govern\xadment',
 'Poli\xadtical_partici\xadpation',
 'Poli\xadtical_cul\xadture',
 'Civil_liber\xadties',
 'Overall_score',
 'Δ_Score']

In [105]:
old_better=[re.sub('\W+', '', element) for element in old_good]
old_better

['Rank',
 'Δ_Rank',
 'Country',
 'Regime_type',
 'Electoral_process_and_pluralism',
 'Functioning_of_government',
 'Political_participation',
 'Political_culture',
 'Civil_liberties',
 'Overall_score',
 'Δ_Score']

These are the original ones:

In [110]:
demodata.columns

Index(['Rank', 'Δ Rank', 'Country', 'Regime type',
       'Elec­toral pro­cess and plura­lism', 'Func­tioning of govern­ment',
       'Poli­tical partici­pation', 'Poli­tical cul­ture', 'Civil liber­ties',
       'Overall score', 'Δ Score'],
      dtype='object')

Let's make a dict with the zip:

In [111]:
dict(zip(demodata.columns,old_better))

{'Rank': 'Rank',
 'Δ Rank': 'Δ_Rank',
 'Country': 'Country',
 'Regime type': 'Regime_type',
 'Elec\xadtoral pro\xadcess and plura\xadlism': 'Electoral_process_and_pluralism',
 'Func\xadtioning of govern\xadment': 'Functioning_of_government',
 'Poli\xadtical partici\xadpation': 'Political_participation',
 'Poli\xadtical cul\xadture': 'Political_culture',
 'Civil liber\xadties': 'Civil_liberties',
 'Overall score': 'Overall_score',
 'Δ Score': 'Δ_Score'}

The previous dict can serve to tell python how to rename some columns:

In [112]:
# just saving the dict
changes=dict(zip(demodata.columns,old_better))

#using the dict
demodata.rename(columns=changes)

,Rank,Δ_Rank,Country,Regime_type,Electoral_process_and_pluralism,Functioning_of_government,Political_participation,Political_culture,Civil_liberties,Overall_score,Δ_Score
0,1,NaN,Norway,Full democracy,10.00,9.64,10.00,10.00,9.71,9.87,NaN
1,2,NaN,Iceland,Full democracy,10.00,9.29,8.89,10.00,9.71,9.58,NaN
2,3,NaN,Sweden,Full democracy,9.58,9.64,8.33,10.00,9.41,9.39,NaN
3,4,NaN,New Zealand,Full democracy,10.00,9.29,8.89,8.13,10.00,9.26,NaN
4,5,3.0,Finland,Full democracy,10.00,8.93,8.89,8.75,9.71,9.25,0.11
...,...,...,...,...,...,...,...,...,...,...,...
162,163,NaN,Chad,Authoritarian,0.00,0.00,1.67,3.75,2.65,1.61,NaN
163,164,2.0,Syria,Authoritarian,0.00,0.00,2.78,4.38,0.00,1.43,NaN
164,165,1.0,Central African Republic,Authoritarian,1.25,0.00,1.11,1.88,2.35,1.32,0.20
165,166,1.0,Democratic Republic of the Congo,Authoritarian,0.00,0.00,1.67,3.13,0.88,1.13,0.20
166,167,NaN,North Korea,Authoritarian,0.00,2.50,1.67,1.25,0.00,1.08,NaN

The previous view is the result, but no changes have been made:

In [113]:
demodata

,Rank,Δ Rank,Country,Regime type,Elec­toral pro­cess and plura­lism,Func­tioning of govern­ment,Poli­tical partici­pation,Poli­tical cul­ture,Civil liber­ties,Overall score,Δ Score
0,1,NaN,Norway,Full democracy,10.00,9.64,10.00,10.00,9.71,9.87,NaN
1,2,NaN,Iceland,Full democracy,10.00,9.29,8.89,10.00,9.71,9.58,NaN
2,3,NaN,Sweden,Full democracy,9.58,9.64,8.33,10.00,9.41,9.39,NaN
3,4,NaN,New Zealand,Full democracy,10.00,9.29,8.89,8.13,10.00,9.26,NaN
4,5,3.0,Finland,Full democracy,10.00,8.93,8.89,8.75,9.71,9.25,0.11
...,...,...,...,...,...,...,...,...,...,...,...
162,163,NaN,Chad,Authoritarian,0.00,0.00,1.67,3.75,2.65,1.61,NaN
163,164,2.0,Syria,Authoritarian,0.00,0.00,2.78,4.38,0.00,1.43,NaN
164,165,1.0,Central African Republic,Authoritarian,1.25,0.00,1.11,1.88,2.35,1.32,0.20
165,166,1.0,Democratic Republic of the Congo,Authoritarian,0.00,0.00,1.67,3.13,0.88,1.13,0.20
166,167,NaN,North Korea,Authoritarian,0.00,2.50,1.67,1.25,0.00,1.08,NaN

You can make those changes using the **inplace=True** argument:

In [114]:
demodata.rename(columns=changes,inplace=True)

In [115]:
# you see:
demodata

,Rank,Δ_Rank,Country,Regime_type,Electoral_process_and_pluralism,Functioning_of_government,Political_participation,Political_culture,Civil_liberties,Overall_score,Δ_Score
0,1,NaN,Norway,Full democracy,10.00,9.64,10.00,10.00,9.71,9.87,NaN
1,2,NaN,Iceland,Full democracy,10.00,9.29,8.89,10.00,9.71,9.58,NaN
2,3,NaN,Sweden,Full democracy,9.58,9.64,8.33,10.00,9.41,9.39,NaN
3,4,NaN,New Zealand,Full democracy,10.00,9.29,8.89,8.13,10.00,9.26,NaN
4,5,3.0,Finland,Full democracy,10.00,8.93,8.89,8.75,9.71,9.25,0.11
...,...,...,...,...,...,...,...,...,...,...,...
162,163,NaN,Chad,Authoritarian,0.00,0.00,1.67,3.75,2.65,1.61,NaN
163,164,2.0,Syria,Authoritarian,0.00,0.00,2.78,4.38,0.00,1.43,NaN
164,165,1.0,Central African Republic,Authoritarian,1.25,0.00,1.11,1.88,2.35,1.32,0.20
165,166,1.0,Democratic Republic of the Congo,Authoritarian,0.00,0.00,1.67,3.13,0.88,1.13,0.20
166,167,NaN,North Korea,Authoritarian,0.00,2.50,1.67,1.25,0.00,1.08,NaN

2. **Verify that categories levels are well written**.

This requires getting frequency tables:

In [117]:
demodata.Regime_type.value_counts()

Flawed democracy    54
Authoritarian       54
Hybrid regime       37
Full democracy      22
Name: Regime_type, dtype: int64

The names are well written.

At this point, you should know be ready to delete some columns (or keep just the ones you need). I want to keep this positions:

In [120]:
list(range(2,11))

[0, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [133]:
# strategy 1: subsetting
keepPositions=list(range(2,11))
demodata.iloc[:,keepPositions]

,Country,Regime_type,Electoral_process_and_pluralism,Functioning_of_government,Political_participation,Political_culture,Civil_liberties,Overall_score,Δ_Score
0,Norway,Full democracy,10.00,9.64,10.00,10.00,9.71,9.87,NaN
1,Iceland,Full democracy,10.00,9.29,8.89,10.00,9.71,9.58,NaN
2,Sweden,Full democracy,9.58,9.64,8.33,10.00,9.41,9.39,NaN
3,New Zealand,Full democracy,10.00,9.29,8.89,8.13,10.00,9.26,NaN
4,Finland,Full democracy,10.00,8.93,8.89,8.75,9.71,9.25,0.11
...,...,...,...,...,...,...,...,...,...
162,Chad,Authoritarian,0.00,0.00,1.67,3.75,2.65,1.61,NaN
163,Syria,Authoritarian,0.00,0.00,2.78,4.38,0.00,1.43,NaN
164,Central African Republic,Authoritarian,1.25,0.00,1.11,1.88,2.35,1.32,0.20
165,Democratic Republic of the Congo,Authoritarian,0.00,0.00,1.67,3.13,0.88,1.13,0.20
166,North Korea,Authoritarian,0.00,2.50,1.67,1.25,0.00,1.08,NaN

In [132]:
demodata.columns

Index(['Rank', 'Δ_Rank', 'Country', 'Regime_type',
       'Electoral_process_and_pluralism', 'Functioning_of_government',
       'Political_participation', 'Political_culture', 'Civil_liberties',
       'Overall_score', 'Δ_Score'],
      dtype='object')

In [134]:
# strategy 2: dropping
bye=['Rank','Δ_Rank','Δ_Score']
demodata.drop(columns=bye)

,Country,Regime_type,Electoral_process_and_pluralism,Functioning_of_government,Political_participation,Political_culture,Civil_liberties,Overall_score
0,Norway,Full democracy,10.00,9.64,10.00,10.00,9.71,9.87
1,Iceland,Full democracy,10.00,9.29,8.89,10.00,9.71,9.58
2,Sweden,Full democracy,9.58,9.64,8.33,10.00,9.41,9.39
3,New Zealand,Full democracy,10.00,9.29,8.89,8.13,10.00,9.26
4,Finland,Full democracy,10.00,8.93,8.89,8.75,9.71,9.25
...,...,...,...,...,...,...,...,...
162,Chad,Authoritarian,0.00,0.00,1.67,3.75,2.65,1.61
163,Syria,Authoritarian,0.00,0.00,2.78,4.38,0.00,1.43
164,Central African Republic,Authoritarian,1.25,0.00,1.11,1.88,2.35,1.32
165,Democratic Republic of the Congo,Authoritarian,0.00,0.00,1.67,3.13,0.88,1.13
166,North Korea,Authoritarian,0.00,2.50,1.67,1.25,0.00,1.08

Let's use strategy 2 this time:

In [135]:
demodataok=demodata.drop(columns=bye)
demodataok

,Country,Regime_type,Electoral_process_and_pluralism,Functioning_of_government,Political_participation,Political_culture,Civil_liberties,Overall_score
0,Norway,Full democracy,10.00,9.64,10.00,10.00,9.71,9.87
1,Iceland,Full democracy,10.00,9.29,8.89,10.00,9.71,9.58
2,Sweden,Full democracy,9.58,9.64,8.33,10.00,9.41,9.39
3,New Zealand,Full democracy,10.00,9.29,8.89,8.13,10.00,9.26
4,Finland,Full democracy,10.00,8.93,8.89,8.75,9.71,9.25
...,...,...,...,...,...,...,...,...
162,Chad,Authoritarian,0.00,0.00,1.67,3.75,2.65,1.61
163,Syria,Authoritarian,0.00,0.00,2.78,4.38,0.00,1.43
164,Central African Republic,Authoritarian,1.25,0.00,1.11,1.88,2.35,1.32
165,Democratic Republic of the Congo,Authoritarian,0.00,0.00,1.67,3.13,0.88,1.13
166,North Korea,Authoritarian,0.00,2.50,1.67,1.25,0.00,1.08

## b. FORMATTING

1. Verifiying data types

In [136]:
demodataok.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 8 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          167 non-null    object
 1   Regime_type                      167 non-null    object
 2   Electoral_process_and_pluralism  167 non-null    float64
 3   Functioning_of_government        167 non-null    float64
 4   Political_participation          167 non-null    float64
 5   Political_culture                167 non-null    float64
 6   Civil_liberties                  167 non-null    float64
 7   Overall_score                    167 non-null    float64
dtypes: float64(6), object(2)
memory usage: 10.6+ KB

The column **Country** is text, which is OK this is **object** data type. 
The Column **Regimetype** is ordinal,  and the rest are **numerical**.

2. **Correcting data types:

Let's turn **Regime_type** into ordinal:

In [137]:
demodataok.Regime_type.value_counts()

Flawed democracy    54
Authoritarian       54
Hybrid regime       37
Full democracy      22
Name: Regime_type, dtype: int64

For the case of ordinal date, these are the right steps:

In [139]:
from pandas.api.types import CategoricalDtype

# rigth order (ascending)
levels=["Authoritarian","Hybrid regime","Flawed democracy","Full democracy"]

# create ordinal data type
levelsRegime=CategoricalDtype(categories=levels,ordered=True)

# make the change:
demodataok.Regime_type=demodataok.Regime_type.astype(levelsRegime)

See the difference:

In [141]:
demodataok.Regime_type

0      Full democracy
1      Full democracy
2      Full democracy
3      Full democracy
4      Full democracy
            ...
162     Authoritarian
163     Authoritarian
164     Authoritarian
165     Authoritarian
166     Authoritarian
Name: Regime_type, Length: 167, dtype: category
Categories (4, object): ['Authoritarian' < 'Hybrid regime' < 'Flawed democracy' < 'Full democracy']

Notice you will not see the change:

In [142]:
demodataok.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 8 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          167 non-null    object
 1   Regime_type                      167 non-null    category
 2   Electoral_process_and_pluralism  167 non-null    float64
 3   Functioning_of_government        167 non-null    float64
 4   Political_participation          167 non-null    float64
 5   Political_culture                167 non-null    float64
 6   Civil_liberties                  167 non-null    float64
 7   Overall_score                    167 non-null    float64
dtypes: category(1), float64(6), object(1)
memory usage: 9.6+ KB

Let me get another data table:

In [155]:
another_link="https://en.wikipedia.org/wiki/List_of_countries_by_Human_Development_Index"

anotherData=pd.read_html(another_link,header=0)

In [156]:
anotherData[1]

,Rank,Rank.1,Country or Territory,HDI,HDI.1,Unnamed: 5
0,2019 data (2020 report)​[10],Change over 5 years (2014)​[2],Country or Territory,2019 data (2020 report)​[10],Average annual HDI growth (2010-2019)​[2],NaN
1,Very high human development,Very high human development,Very high human development,Very high human development,Very high human development,Very high human development
2,1,NaN,Norway,0.957,0.20%,NaN
3,2,(7),Ireland,0.955,0.65%,NaN
4,2,NaN,Switzerland,0.955,0.16%,NaN
...,...,...,...,...,...,...
189,185,(5),Burundi,0.433,0.58%,NaN
190,185,(3),South Sudan,0.433,0.61%,NaN
191,187,(1),Chad,0.398,0.84%,NaN
192,188,(1),Central African Republic,0.397,0.94%,NaN
193,189,(1),Niger,0.394,1.95%,NaN

In [157]:
#see columns:
hdi=anotherData[1]
hdi.columns

Index(['Rank', 'Rank.1', 'Country or Territory', 'HDI', 'HDI.1', 'Unnamed: 5'], dtype='object')

In [172]:
# keep what you need (don't clean what you are going to drop)
hdidata=hdi.iloc[:,[2,3]]

In [162]:
# you have:
hdidata

            Country or Territory                           HDI
0           Country or Territory  2019 data (2020 report)​[10]
1    Very high human development   Very high human development
2                         Norway                         0.957
3                        Ireland                         0.955
4                    Switzerland                         0.955
..                           ...                           ...
189                      Burundi                         0.433
190                  South Sudan                         0.433
191                         Chad                         0.398
192     Central African Republic                         0.397
193                        Niger                         0.394

[194 rows x 2 columns]

In [168]:
# some HDI are nor numbers. Then you detect the data type is 'object'
hdidata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country or Territory  194 non-null    object
 1   HDI                   194 non-null    object
dtypes: object(2)
memory usage: 3.2+ KB

In [175]:
# turn as numeric, and if not a numer turn it into a missing value:
hdidata.loc[:,'HDI']=pd.to_numeric(hdidata.HDI,errors='coerce')

In [177]:
# now:
hdidata

            Country or Territory    HDI
0           Country or Territory    NaN
1    Very high human development    NaN
2                         Norway  0.957
3                        Ireland  0.955
4                    Switzerland  0.955
..                           ...    ...
189                      Burundi  0.433
190                  South Sudan  0.433
191                         Chad  0.398
192     Central African Republic  0.397
193                        Niger  0.394

[194 rows x 2 columns]

In [189]:
# droping row if any cell has a NaN:
hdidata.dropna(how='any',inplace=True)
#you have now:
hdidata

/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         Country or Territory    HDI
0                      Norway  0.957
1                     Ireland  0.955
2                 Switzerland  0.955
3                   Hong Kong  0.949
4                     Iceland  0.949
..                        ...    ...
184                   Burundi  0.433
185               South Sudan  0.433
186                      Chad  0.398
187  Central African Republic  0.397
188                     Niger  0.394

[189 rows x 2 columns]

In [191]:
#good format:
hdidata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189 entries, 0 to 188
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country or Territory  189 non-null    object
 1   HDI                   189 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.4+ KB

In [192]:
# resetting index:
hdidata.reset_index(drop=True,inplace=True)
#you get
hdidata

         Country or Territory    HDI
0                      Norway  0.957
1                     Ireland  0.955
2                 Switzerland  0.955
3                   Hong Kong  0.949
4                     Iceland  0.949
..                        ...    ...
184                   Burundi  0.433
185               South Sudan  0.433
186                      Chad  0.398
187  Central African Republic  0.397
188                     Niger  0.394

[189 rows x 2 columns]

[home](#home)

______

<a id='integratesave'></a>

## INTEGRATING AND SAVING

Let me open this file:

In [193]:
codes=pd.read_csv("countryCodes.csv")
codes

    FIPS ISO2 ISO3                                  NAME
0     AC   AG  ATG                   Antigua and Barbuda
1     AG   DZ  DZA                               Algeria
2     AJ   AZ  AZE                            Azerbaijan
3     AL   AL  ALB                               Albania
4     AM   AM  ARM                               Armenia
..   ...  ...  ...                                   ...
241   TB   BL  BLM                      Saint Barthelemy
242   GK   GG  GGY                              Guernsey
243   JE   JE  JEY                                Jersey
244   SX   GS  SGS  South Georgia South Sandwich Islands
245   TW   TW  TWN                                Taiwan

[246 rows x 4 columns]

My goal is to add the codes to  **demodataok**. Let's try this:

In [194]:
# how='outer' will use all the rows from both data frames
# indicator=True will tell you when you had matches or not.

demomerged=demodataok.merge(codes,left_on='Country', right_on="NAME",how='outer',indicator=True)
demomerged

,Country,Regime_type,Electoral_process_and_pluralism,Functioning_of_government,Political_participation,Political_culture,Civil_liberties,Overall_score,FIPS,ISO2,ISO3,NAME,_merge
0,Norway,Full democracy,10.00,9.64,10.00,10.00,9.71,9.87,NO,NO,NOR,Norway,both
1,Iceland,Full democracy,10.00,9.29,8.89,10.00,9.71,9.58,IC,IS,ISL,Iceland,both
2,Sweden,Full democracy,9.58,9.64,8.33,10.00,9.41,9.39,SW,SE,SWE,Sweden,both
3,New Zealand,Full democracy,10.00,9.29,8.89,8.13,10.00,9.26,NZ,NZ,NZL,New Zealand,both
4,Finland,Full democracy,10.00,8.93,8.89,8.75,9.71,9.25,FI,FI,FIN,Finland,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RN,MF,MAF,Saint Martin,right_only
256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TB,BL,BLM,Saint Barthelemy,right_only
257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GK,GG,GGY,Guernsey,right_only
258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JE,JE,JEY,Jersey,right_only
259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SX,GS,SGS,South Georgia South Sandwich Islands,right_only

What both had in common:

In [195]:
demomerged[demomerged._merge=='both'] # using the indicator!

,Country,Regime_type,Electoral_process_and_pluralism,Functioning_of_government,Political_participation,Political_culture,Civil_liberties,Overall_score,FIPS,ISO2,ISO3,NAME,_merge
0,Norway,Full democracy,10.00,9.64,10.00,10.00,9.71,9.87,NO,NO,NOR,Norway,both
1,Iceland,Full democracy,10.00,9.29,8.89,10.00,9.71,9.58,IC,IS,ISL,Iceland,both
2,Sweden,Full democracy,9.58,9.64,8.33,10.00,9.41,9.39,SW,SE,SWE,Sweden,both
3,New Zealand,Full democracy,10.00,9.29,8.89,8.13,10.00,9.26,NZ,NZ,NZL,New Zealand,both
4,Finland,Full democracy,10.00,8.93,8.89,8.75,9.71,9.25,FI,FI,FIN,Finland,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,Equatorial Guinea,Authoritarian,0.00,0.43,3.33,4.38,1.47,1.92,EK,GQ,GNQ,Equatorial Guinea,both
161,Turkmenistan,Authoritarian,0.00,0.79,2.22,5.00,0.59,1.72,TX,TM,TKM,Turkmenistan,both
162,Chad,Authoritarian,0.00,0.00,1.67,3.75,2.65,1.61,CD,TD,TCD,Chad,both
164,Central African Republic,Authoritarian,1.25,0.00,1.11,1.88,2.35,1.32,CT,CF,CAF,Central African Republic,both
165,Democratic Republic of the Congo,Authoritarian,0.00,0.00,1.67,3.13,0.88,1.13,CG,CD,COD,Democratic Republic of the Congo,both

Let's see what countries in **demodataok** did not find a match in **codes**:

In [196]:
demomerged[demomerged._merge=='left_only']

,Country,Regime_type,Electoral_process_and_pluralism,Functioning_of_government,Political_participation,Political_culture,Civil_liberties,Overall_score,FIPS,ISO2,ISO3,NAME,_merge
22,South Korea,Flawed democracy,9.17,7.86,7.22,7.50,8.24,8.00,NaN,NaN,NaN,NaN,left_only
76,North Macedonia,Hybrid regime,7.00,5.36,6.67,3.75,7.06,5.97,NaN,NaN,NaN,NaN,left_only
82,Moldova,Hybrid regime,6.58,4.64,6.11,4.38,7.06,5.75,NaN,NaN,NaN,NaN,left_only
94,Tanzania,Hybrid regime,5.75,5.00,5.00,5.63,4.41,5.16,NaN,NaN,NaN,NaN,left_only
110,Ivory Coast,Hybrid regime,4.33,2.86,3.33,5.63,4.12,4.05,NaN,NaN,NaN,NaN,left_only
121,Myanmar,Authoritarian,3.08,3.93,2.78,5.63,2.35,3.55,NaN,NaN,NaN,NaN,left_only
131,Eswatini,Authoritarian,0.92,2.86,2.78,5.63,3.53,3.14,NaN,NaN,NaN,NaN,left_only
133,Republic of the Congo,Authoritarian,2.17,2.50,3.89,3.75,3.24,3.11,NaN,NaN,NaN,NaN,left_only
135,Vietnam,Authoritarian,0.00,3.21,3.89,5.63,2.65,3.08,NaN,NaN,NaN,NaN,left_only
150,Iran,Authoritarian,0.00,2.86,4.44,3.13,1.47,2.38,NaN,NaN,NaN,NaN,left_only
154,Laos,Authoritarian,0.00,2.86,1.67,5.00,1.18,2.14,NaN,NaN,NaN,NaN,left_only
155,Libya,Authoritarian,0.00,0.00,2.78,4.38,2.94,2.02,NaN,NaN,NaN,NaN,left_only
163,Syria,Authoritarian,0.00,0.00,2.78,4.38,0.00,1.43,NaN,NaN,NaN,NaN,left_only
166,North Korea,Authoritarian,0.00,2.50,1.67,1.25,0.00,1.08,NaN,NaN,NaN,NaN,left_only

Let's see if those countries exist in **codes** but with different name:

In [197]:
codes[codes.NAME.str.contains('Korea|Macedonia|Moldo|Tanza|Ivo|Burm|Swazi|Congo|Iran|Viet|Lao|Liby|Syr')]

    FIPS ISO2 ISO3                                       NAME
17    BM   MM  MMR                                      Burma
26    CF   CG  COG                                      Congo
27    CG   CD  COD           Democratic Republic of the Congo
83    IR   IR  IRN                 Iran (Islamic Republic of)
86    IV   CI  CIV                              Cote d'Ivoire
93    KN   KP  PRK     Korea, Democratic People's Republic of
95    KS   KR  KOR                         Korea, Republic of
98    LA   LA  LAO           Lao People's Democratic Republic
106   LY   LY  LBY                     Libyan Arab Jamahiriya
111   MK   MK  MKD  The former Yugoslav Republic of Macedonia
171   MD   MD  MDA                        Republic of Moldova
191   SY   SY  SYR                       Syrian Arab Republic
204   TZ   TZ  TZA                United Republic of Tanzania
215   VM   VN  VNM                                   Viet Nam
220   WZ   SZ  SWZ                                  Swaziland

The function **str.contains** verifies if some string (not the whole word) exist. Now you go manual:

In [198]:
# the names in demomerged that did not find a match
currentNamesDemo=demomerged[demomerged._merge=='left_only'].Country.to_list()

# the names that will replace the ones in demomerged.
currentNamesCodes=['Korea, Republic of','The former Yugoslav Republic of Macedonia','Republic of Moldova',
                  'United Republic of Tanzania',"Cote d'Ivoire",'Burma','Swaziland','Congo','Viet Nam',
                  'Iran (Islamic Republic of)',"Lao People's Democratic Republic",
                  'Libyan Arab Jamahiriya','Syrian Arab Republic',"Korea, Democratic People's Republic of"]

We will replace names. Let's see the dict of replacements:

In [199]:
dict(zip(currentNamesDemo,currentNamesCodes))

{'South Korea': 'Korea, Republic of',
 'North Macedonia': 'The former Yugoslav Republic of Macedonia',
 'Moldova': 'Republic of Moldova',
 'Tanzania': 'United Republic of Tanzania',
 'Ivory Coast': "Cote d'Ivoire",
 'Myanmar': 'Burma',
 'Eswatini': 'Swaziland',
 'Republic of the Congo': 'Congo',
 'Vietnam': 'Viet Nam',
 'Iran': 'Iran (Islamic Republic of)',
 'Laos': "Lao People's Democratic Republic",
 'Libya': 'Libyan Arab Jamahiriya',
 'Syria': 'Syrian Arab Republic',
 'North Korea': "Korea, Democratic People's Republic of"}

Let's replace:

In [200]:
###dictionary of replacements:
replacementsForDemo=dict(zip(currentNamesDemo,currentNamesCodes))

### replacing
demodataok.Country.replace(replacementsForDemo,inplace=True)

We have altered names of countries in **demodataok**, let's redo the merge:

In [201]:
demomerged=demodataok.merge(codes,left_on='Country', right_on="NAME")
demomerged

,Country,Regime_type,Electoral_process_and_pluralism,Functioning_of_government,Political_participation,Political_culture,Civil_liberties,Overall_score,FIPS,ISO2,ISO3,NAME
0,Norway,Full democracy,10.00,9.64,10.00,10.00,9.71,9.87,NO,NO,NOR,Norway
1,Iceland,Full democracy,10.00,9.29,8.89,10.00,9.71,9.58,IC,IS,ISL,Iceland
2,Sweden,Full democracy,9.58,9.64,8.33,10.00,9.41,9.39,SW,SE,SWE,Sweden
3,New Zealand,Full democracy,10.00,9.29,8.89,8.13,10.00,9.26,NZ,NZ,NZL,New Zealand
4,Finland,Full democracy,10.00,8.93,8.89,8.75,9.71,9.25,FI,FI,FIN,Finland
...,...,...,...,...,...,...,...,...,...,...,...,...
162,Chad,Authoritarian,0.00,0.00,1.67,3.75,2.65,1.61,CD,TD,TCD,Chad
163,Syrian Arab Republic,Authoritarian,0.00,0.00,2.78,4.38,0.00,1.43,SY,SY,SYR,Syrian Arab Republic
164,Central African Republic,Authoritarian,1.25,0.00,1.11,1.88,2.35,1.32,CT,CF,CAF,Central African Republic
165,Democratic Republic of the Congo,Authoritarian,0.00,0.00,1.67,3.13,0.88,1.13,CG,CD,COD,Democratic Republic of the Congo
166,"Korea, Democratic People's Republic of",Authoritarian,0.00,2.50,1.67,1.25,0.00,1.08,KN,KP,PRK,"Korea, Democratic People's Republic of"

In [202]:
#you can drop the repeated column:
demomerged.drop(columns="NAME",inplace=True)

Let me add the HDI data now:

In [208]:
demohdi=demomerged.merge(hdidata,left_on='Country', right_on="Country or Territory")
# you get
demohdi

,Country,Regime_type,Electoral_process_and_pluralism,Functioning_of_government,Political_participation,Political_culture,Civil_liberties,Overall_score,FIPS,ISO2,ISO3,Country or Territory,HDI
0,Norway,Full democracy,10.00,9.64,10.00,10.00,9.71,9.87,NO,NO,NOR,Norway,0.957
1,Iceland,Full democracy,10.00,9.29,8.89,10.00,9.71,9.58,IC,IS,ISL,Iceland,0.949
2,Sweden,Full democracy,9.58,9.64,8.33,10.00,9.41,9.39,SW,SE,SWE,Sweden,0.945
3,New Zealand,Full democracy,10.00,9.29,8.89,8.13,10.00,9.26,NZ,NZ,NZL,New Zealand,0.931
4,Finland,Full democracy,10.00,8.93,8.89,8.75,9.71,9.25,FI,FI,FIN,Finland,0.938
...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Tajikistan,Authoritarian,0.08,0.79,1.67,6.25,0.88,1.93,TI,TJ,TJK,Tajikistan,0.668
145,Equatorial Guinea,Authoritarian,0.00,0.43,3.33,4.38,1.47,1.92,EK,GQ,GNQ,Equatorial Guinea,0.592
146,Turkmenistan,Authoritarian,0.00,0.79,2.22,5.00,0.59,1.72,TX,TM,TKM,Turkmenistan,0.715
147,Chad,Authoritarian,0.00,0.00,1.67,3.75,2.65,1.61,CD,TD,TCD,Chad,0.398
148,Central African Republic,Authoritarian,1.25,0.00,1.11,1.88,2.35,1.32,CT,CF,CAF,Central African Republic,0.397


We are done. You can try getting more countries later.

Now, let's save for future Python use, and for future R use:

* For future Python use:

In [210]:
demomerged.to_pickle("demohdi.pkl")
# you will open with: DF=pd.read_pickle("demomerged.pkl")
# or, if you have link:
# from urllib.request import urlopen
# DF=pd.read_pickle(urlopen("https://..../demomerged.pkl"),compression=None)

* For future use in R:

In [211]:
from rpy2.robjects import pandas2ri
pandas2ri.activate()

from rpy2.robjects.packages import importr

base = importr('base')
base.saveRDS(demohdi,file="demohdi.RDS")

#In R, you can open it with: DF = readRDS("demomerged.RDS")
#or, if iyou read from a link: DF = readRDS(url("https://..../demomerged.RDS")

/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/rpy2/robjects/vectors.py:980: UserWarning: R object inheriting from "POSIXct" but without attribute "tzone".
  warnings.warn('R object inheriting from "POSIXct" but without '

<rpy2.rinterface_lib.sexp.NULLType object at 0x7fca9caaa870> [RTYPES.NILSXP]